/* Properties */
@property --lines {
    syntax: "<length>";
    inherits: false;
    initial-value: 0.000104px;
}

/* Elements */
:root {
    font-family: "Rubik Mono One", monospace;
    font-size: 8cqw;
    font-weight: 400;

    color: #fafafa;
    background-color: #232323;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Hide Scrollbar  */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-scrollbar {
        display: none;
    }
    overflow-y: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-size: cover;
    width: 100%;
    height: 100%;

    display: block;

    /* Noisy gradient hack */
    background: repeating-radial-gradient(
        closest-side,
        #000000ff,
        var(--lines),
        #000000ff,
        0,
        #fff,
        calc(var(--lines) * 2),
        #000 0
    );

    filter: blur(1.5vw);

    animation: lineChange 55500s linear infinite;
}

body::after {
    /* Fit the whole window */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    width: 100%;
    height: 100%;

    display: block;

    /* Rainbow gradient */
    background: linear-gradient(
        -45deg,
        #fc884e88,
        #e73c7e88,
        #b180d788,
        #4ee2fc88,
        #23f5ab88,
        #ffd52b88
    );

    background-size: 400% 400%;

    animation: gradient;
    animation-duration: 30s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

h1 {
    /* Stop text blocking nav buttons */
    pointer-events: none;
}

/* Title bar */
.titlebar {
    height: 300px;
    background: #1a1a1a00;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.titlebar-image {
    /* Initially black, so flip to (1 - 1 / 250) to make it fafafa */
    filter: invert(0.996);
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.titlebar-button:hover {
    filter: invert(0.5);
}

/* Fading */
.text-show {
    opacity: 1;
    transition: all 1s ease;
}

.text-fade {
    opacity: 0;
    transition: all 1s ease;
}

/* Animations */
@keyframes gradient {
    0% {
        background-position-x: 0%;
        background-position-y: 50%;
    }

    50% {
        background-position-x: 100%;
        background-position-y: 50%;
    }

    100% {
        background-position-x: 0%;
        background-position-y: 50%;
    }
}

@keyframes lineChange {
    50% {
        --lines: 0.0001px;
    }
}
