/* Elements */
:root {
    font-family: "Rubik Mono One", monospace;
    font-size: 8cqw;
    font-weight: 400;

    color: #fafafa;
    background-color: #232323;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Hide Scrollbar  */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-scrollbar {
        display: none;
    }
    overflow-y: hidden;
}

h1 {
    /* Stop text blocking nav buttons */
    pointer-events: none;
}

/* Title bar */
.titlebar {
    height: 300px;
    background: #1a1a1a00;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.titlebar-image {
    /* Initially black, so flip to (1 - 1 / 250) to make it fafafa */
    filter: invert(0.996);
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.titlebar-button:hover {
    filter: invert(0.5);
}

/* Fading */
.text-show {
    opacity: 1;
    transition: all 1s ease;
}

.text-fade {
    opacity: 0;
    transition: all 1s ease;
}
