h3 {
    padding: 10vh;
    display: block;
    margin: auto;
    text-align: center;
}

input {
    width: 50%;
    padding: 5px;
    font-size: 24px;
    display: block;
    margin: auto;
    text-align: center;

    font-family: "Rubik Mono One", monospace;
    background: transparent;
    border: none;
    color: #fafafaff;
    text-decoration: none;
    outline: none;
}

/* Change clock icon colour */
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(0.996);
}

/* Change selection colour */
input[type="time"]::-webkit-datetime-edit-hour-field:focus,
input[type="time"]::-webkit-datetime-edit-minute-field:focus,
input[type="time"]::-webkit-datetime-edit-second-field:focus,
input[type="time"]::-webkit-datetime-edit-ampm-field:focus {
    background-color: #ff3535;
}
