/* Properties */
@property --lines {
    syntax: "<length>";
    inherits: false;
    initial-value: 0.000104px;
}

/* Animations */
@keyframes lineChange {
    50% {
        --lines: 0.0001px;
    }
}

/* Element Overrides */
body {
    color: #1a1a1aff !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(0.04) !important;
}

input {
    color: #1a1a1aff !important;
}

.titlebar-image {
    filter: invert(0.04) !important;
}

.titlebar-button:hover {
    filter: invert(0.3) !important;
}

/* Elements */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-size: cover;
    width: 100%;
    height: 100%;

    display: block;

    /* Noisy gradient hack */
    background: repeating-radial-gradient(
        closest-side,
        #000000ff,
        var(--lines),
        #000000ff,
        0,
        #fff,
        calc(var(--lines) * 2),
        #000 0
    );

    filter: blur(1.5vw);

    animation: lineChange 55500s linear infinite;
}

body::after {
    /* Fit the whole window */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    width: 100%;
    height: 100%;

    display: block;

    background: #fafafaff;
    background-size: 400% 400%;
}
